@media #{$mq-xs} {
	.form-horizontal {
		.control-label {
			display: block;	
			margin-bottom: 10px;
			text-align: left;
			&.mt {
				margin-top: 30px;
			}
		}

		.form-control:focus {
			border-color: rgba(0,0,0,.1);
			box-shadow: 0 0 8px $lightYellow;
		}

		input, 
		select,
		textarea {
			border-radius: 2px;
			border-color: #eee;
			outline: $lightYellow;
			height: 36px;
			@include box-shadow(none);
		}

		textarea {
			height: 150px;
			resize: none;
		}
	}
}

@import "components/form/checkbox";
@import "components/form/radio";
@import "components/form/select";