@media #{$mq-xs} {

	.submenu {
		overflow: hidden;
		max-height: 0;
		margin: 0;
		background-color: $submenuBackgroundColor;

		li {
			a {
				display: block;
				padding: 0 20px 0 50px;
				color: $submenuItemColor;
				cursor: pointer;
				font-size: 12px;
				font-weight: normal;
				line-height: 35px;
				text-transform: none;
			}

			&:hover,
			&.active {
				background-color: $submenuItemBackgroundColor;
				text-decoration: none;

				a {
					font-weight: bold;
				}
			}
		}
	}

}