@media #{$mq-xs} {

	.user {
		position: relative;
		min-height: 80px;
		padding: 25px 20px;
		background-color: $menuUserBackgroundColor;

		.user_avatar-container {
			display: inline-block;
			width: 50px;
		}

		.user_avatar {
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			margin-right: 10px;
			border: 2px solid $menuUserAvatarBorderColor;
			@include border-radius(100px);

			img {
				width: 100%;
				height: auto;
				@include border-radius(100%);
			}
			.placeholder-char {
				@include centered();
				font-size: 15px;
			}
		}

		.user_info {
			display: inline-block;
			width: 150px;
			margin-top: 15px;
			vertical-align: top;

			a {
				color: $menuUserColor;
				&:hover {
					color: $menuUserHoverColor;
				}
			}

			h2 {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 16px;
				font-weight: normal;
			}

			h3 {
				margin: 0;
				color: rgba(255, 255, 255, .5);
				font-size: 12px;
				font-weight: normal;
			}
		}

		.dealer_selector {
			.form-group {
				margin-top: 15px;
				margin-bottom: 0;
			}
		}
	}

}