body {
	font-family: 'Roboto', helvetica, arial, sans-serif;
	color: $textColor;
}

strong {
	font-weight: bold;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.5em;
	text-transform: capitalize;
}


@media #{$mq-xs} {

	.wrapper {
		padding-top: 75px;
		@include all-transition(.5);
		min-height: calc(100vh - 25px);
	}

}

@media #{$mq-sm} {

	.wrapper {
		padding-left: 15px;
		padding-right: 15px;

		&.logged-in {
			margin-left: 200px;
			width: calc(100% - 200px);
		}
	}

}

@media #{$mq-md} {

	.wrapper {
		&.logged-in {
			margin-left: 250px;
			width: calc(100% - 250px);
		}
	}

}

