@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/factotum/Roboto-Bold.eot');
	src: url('/assets/fonts/factotum/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/factotum/Roboto-Bold.woff') format('woff'),
		 url('/assets/fonts/factotum/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/factotum/Roboto-Regular.eot');
	src: url('/assets/fonts/factotum/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/factotum/Roboto-Regular.woff') format('woff'),
		 url('/assets/fonts/factotum/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreBaskerville-Italic';
	src: url('/assets/fonts/factotum/LibreBaskerville-Italic.eot');
	src: url('/assets/fonts/factotum/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/factotum/LibreBaskerville-Italic.woff') format('woff'),
		 url('/assets/fonts/factotum/LibreBaskerville-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}



