@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/factotum/Roboto-Bold.eot');
	src: url('/assets/fonts/factotum/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/factotum/Roboto-Bold.woff') format('woff'),
		 url('/assets/fonts/factotum/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/factotum/Roboto-Regular.eot');
	src: url('/assets/fonts/factotum/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/factotum/Roboto-Regular.woff') format('woff'),
		 url('/assets/fonts/factotum/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreBaskerville-Italic';
	src: url('/assets/fonts/factotum/LibreBaskerville-Italic.eot');
	src: url('/assets/fonts/factotum/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/factotum/LibreBaskerville-Italic.woff') format('woff'),
		 url('/assets/fonts/factotum/LibreBaskerville-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}



@font-face {
	font-family: "IconFiles";
	src: url("/assets/fonts/factotum/files-icon.eot");
	src: url("/assets/fonts/factotum/files-icon.eot?#iefix") format("embedded-opentype"),
	url("/assets/fonts/factotum/files-icon.woff") format("woff"),
	url("/assets/fonts/factotum/files-icon.ttf") format("truetype"),
	url("/assets/fonts/factotum/files-icon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "IconFiles";
		src: url("/assets/fonts/factotum/files-icon.svg#Flaticon") format("svg");
	}
}

[class^="iconfile-"]:before, [class*=" iconfile-"]:before,
[class^="iconfile-"]:after, [class*=" iconfile-"]:after {
	font-family: IconFiles;
	font-style: normal;
}

.iconfile-after-effects:before { content: "\f100"; }
.iconfile-ai:before { content: "\f101"; }
.iconfile-audition:before { content: "\f102"; }
.iconfile-avi:before { content: "\f103"; }
.iconfile-bridge:before { content: "\f104"; }
.iconfile-css:before { content: "\f105"; }
.iconfile-csv:before { content: "\f106"; }
.iconfile-dbf:before { content: "\f107"; }
.iconfile-doc:before { content: "\f108"; }
.iconfile-dreamweaver:before { content: "\f109"; }
.iconfile-dwg:before { content: "\f10a"; }
.iconfile-exe:before { content: "\f10b"; }
.iconfile-file:before { content: "\f10c"; }
.iconfile-fireworks:before { content: "\f10d"; }
.iconfile-fla:before { content: "\f10e"; }
.iconfile-flash:before { content: "\f10f"; }
.iconfile-html:before { content: "\f110"; }
.iconfile-illustrator:before { content: "\f111"; }
.iconfile-indesign:before { content: "\f112"; }
.iconfile-iso:before { content: "\f113"; }
.iconfile-javascript:before { content: "\f114"; }
.iconfile-jpg:before { content: "\f115"; }
.iconfile-json-file:before { content: "\f116"; }
.iconfile-mp3:before { content: "\f117"; }
.iconfile-mp4:before { content: "\f118"; }
.iconfile-pdf:before { content: "\f119"; }
.iconfile-photoshop:before { content: "\f11a"; }
.iconfile-png:before { content: "\f11b"; }
.iconfile-ppt:before { content: "\f11c"; }
.iconfile-prelude:before { content: "\f11d"; }
.iconfile-premiere:before { content: "\f11e"; }
.iconfile-psd:before { content: "\f11f"; }
.iconfile-rtf:before { content: "\f120"; }
.iconfile-search:before { content: "\f121"; }
.iconfile-svg:before { content: "\f122"; }
.iconfile-txt:before { content: "\f123"; }
.iconfile-xls:before { content: "\f124"; }
.iconfile-xml:before { content: "\f125"; }
.iconfile-zip:before { content: "\f126"; }
.iconfile-zip-1:before { content: "\f127"; }