$mq-minw-xs: 1px;
$mq-minw-sm: 768px;
$mq-minw-md: 992px;
$mq-minw-lg: 1200px;
$mq-xs: "only screen and (min-width:" + $mq-minw-xs + ")";
$mq-sm: "only screen and (min-width:" + $mq-minw-sm + ")";
$mq-md: "only screen and (min-width:" + $mq-minw-md + ")";
$mq-lg: "only screen and (min-width:" + $mq-minw-lg + ")";

// Body
$body-bg: #F8F8F8;
// $body-bg: #FeFeFe;
// $body-bg: #343839;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$baskerville: 'LibreBaskerville-Italic', serif;
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors 

$lightYellow: #FFEC19;
$yellow: #F5DB00;
$darkYellow: #F1C81C;

$lightGrey: #EAEAEA;
$blueGrey: #37474F;
$dynamicGrey: rgba(0, 0, 0, .75);

$textColor: #666;
