// MEDIA QUERIES
$mq-minw-xs: 1px;
$mq-minw-sm: 768px;
$mq-minw-md: 992px;
$mq-minw-lg: 1200px;
$mq-xs: "only screen and (min-width:" + $mq-minw-xs + ")";
$mq-sm: "only screen and (min-width:" + $mq-minw-sm + ")";
$mq-md: "only screen and (min-width:" + $mq-minw-md + ")";
$mq-lg: "only screen and (min-width:" + $mq-minw-lg + ")";


// BOOTSTRAP COLORS
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;


// FONTS
$baskerville: 'LibreBaskerville-Italic', serif;
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;


// MAIN COLORS
$body-bg: #F8F8F8;
$textColor: #666;
$text-color: #666;
$primary: #FFEC19;
$primaryDark: #F1C81C;
$error: #C00;


// STATUS BAR COLORS
$statusBarBottomBorderColor: #F2F2F2;
$statusBarBackgroundColor: #FFF;
$statusBarColor: #808080;
$statusBarHoverColor: #777;
$statusBarLogoutColor: rgba(0, 0, 0, .75);
$statusBarLogoutHoverColor: #000;


// MENU
$menuBackgroundColor: #FFEC19;
$menuItemColor: #444;
$menuItemBackgroundColor: #F1C81C;
$submenuBackgroundColor: #F5DB00;
$submenuItemColor: #444;
$submenuItemBackgroundColor: #F5DB00;
$menuUserBackgroundColor: #444;
$menuUserColor: #F5DB00;
$menuUserHoverColor: #F1C81C;
$menuUserAvatarBorderColor: #FFEC19;

// FORM
$input-color-placeholder: #EEE;
$input-border: #FFEC19;
$input-border-focus: #FFEC19;
$formInputFocusShadow: #FFEC19;
$formInputOutline: #FFEC19;
$formCheckboxActive: #F1C81C;
$formRadioBorderColor: rgba(0, 0, 0, .75);
$formRadioActive: #F1C81C;
$formSelectArrowColor: #F1C81C;
$formSelectItemColor: rgba(0, 0, 0, .75);
$formSelectItemBackgroundColor: #FFEC19;

// BUTTONS AND PAGINATIONS
$buttonColor: rgba(0, 0, 0, .75);
$buttonBackgroundColor: #FFEC19;
$buttonHoverBackgroundColor: #F1C81C;

// DROPZONE
$dropzoneHoverBorderColor: #FFEC19;
$dropzoneBorderColor: rgba(1255, 236, 25, 0.5);


// TABLES
$tableTitleColor: #FFEC19;
$tableSubtitleColor: rgba(0, 0, 0, .75);
$tableTitleLight: rgba(0, 0, 0, .75);

// LINKS
$linkColor: #F1C81C;
$linkHoverColor: #CDA80D;

