@media #{$mq-xs} {

	.login {
		margin-top: 80px;
	}

	.register-btn {
		margin-top: 15px;
		color: rgba(128,128,128,0.75);
		text-align: center;
		a {
			color: $linkColor;
			&:hover {
				color: $linkHoverColor;
			}
		}
	}

	.pwd-recover {
		text-align: right;
		a {
			margin-top: 0;
			padding: 0;
			color: $linkColor;
			&:hover {
				color: $linkHoverColor;
			}
		}
	}

}

@media #{$mq-sm} {


}

