@media #{$mq-xs} {

	.upload_wrapper {
		padding: 30px;

		h3 {
			margin-top: 0;
		}

		.tab-pane {
			padding: 20px 0;
		}

		.tab-content {
		}

		.bnt_container {
			position: fixed;
			bottom: 0; left: 0;
			z-index: 100;
			width: 100%;
			padding: 15px 30px;
			background-color: #FFF;
			text-align: right;
		}
	}

	#media_list_container {
		label {
			position: relative;
			margin-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 0;
			padding-bottom: 0;
			border: none;

			&:after {
				width: calc(100% - 30px);
				height: 100%;
				margin: 0 15px;
			}

			&.checked {
				&:after {
					top: 2px; left: 2px;
					width: calc(100% - 34px);
					height: calc(100% - 4px);
				}
			}
		}
	}
}