@media #{$mq-xs} {

	.alert {
		position: absolute;
		width: 100%;
		z-index: 1000;
	}

}

@media #{$mq-sm} {

	.alert {
		left: 200px;
		width: calc(100% - 200px);
	}

}

@media #{$mq-md} {

	.alert {
		left: 250px;
		width: calc(100% - 250px);
	}

}