@media #{$mq-xs} {
	
	.btn {
		display: inline-block;
		margin-top: 3px;
		margin-bottom: 0;
		font-weight: $btn-font-weight;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		background-color: $buttonBackgroundColor;
		color: $buttonColor;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 0em 1em;
		text-transform: capitalize;
		line-height: 2em;
		border-radius: 2px;
		@include user-select(none);
		@include box-shadow(0 1px 3px rgba(0,0,0,.07));

		&:active,
		&.active {
			&:focus,
			&.focus {
				@include tab-focus;
			}
		}

		&:hover,
		&:focus,
		&.focus {
			color: #FFF;
			background-color: $buttonHoverBackgroundColor;
			text-decoration: none;
		}

		&:active,
		&.active {
			outline: 0;
			background-image: none;
			@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
		}

		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			cursor: $cursor-disabled;
			@include opacity(.65);
			@include box-shadow(none);
		}

	}

	a.btn {
		&.disabled,
		fieldset[disabled] & {
			pointer-events: none;
		}

	}

	&.remove_content_block {
		position: absolute;
		top: 50%; right: 15px;
		width: 30px;
		padding: 0;
		@include border-radius(100%);
		color: #FFF;
		font-weight: bold;
		&:focus {
			outline: none;
		}
	}


	// Link buttons
	.btn-link {
		color: $link-color;
		font-weight: normal;
		border-radius: 0;

		&,
		&:active,
		&.active,
		&[disabled],
		fieldset[disabled] & {
			background-color: transparent;
			@include box-shadow(none);
		}
		&,
		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
		}
		&:hover,
		&:focus {
			color: $link-hover-color;
			text-decoration: $link-hover-decoration;
			background-color: transparent;
		}
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: $btn-link-disabled-color;
				text-decoration: none;
			}
		}
	}


	// Button Sizes
	// --------------------------------------------------

	.btn-lg {
		@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
	}
	.btn-sm {
		@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
	}
	.btn-xs {
		@include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
	}


	// Block button
	.btn-block {
		display: block;
		width: 100%;
	}

	.btn-block + .btn-block {
		margin-top: 5px;
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		&.btn-block {
			width: 100%;
		}
	}

	.edit,
	.delete {
		display: inline-block;
		line-height: 30px;
		width:30px;
		margin-right: 10px;
		background-color: $buttonBackgroundColor;
		border-radius: 2px;
		text-align: center;
		color: $buttonColor;
		@include box-shadow(0 0 5px 0 rgba(0,0,0,.1));

		&:hover {
			background-color: $buttonHoverBackgroundColor;
			color: #FFF;
		}
	}

}

@media #{$mq-sm} {

	.utility_btn {
		text-align: right;
	}

}