@media #{$mq-xs} {

	.fr-toolbar {
		border-top: none;
		background-color: #f5f5f5;
		border-bottom: 1px solid #eee;
		&.fr-top {
			@include box-shadow(none);
		}
	}

	.fr-box.fr-basic.fr-top {
		border-radius: 2px;
		border: 1px solid #eee;
		@include box-shadow(none);
		.fr-wrapper {
			@include box-shadow(none);
		}
	}

}
