.media_thumb {
	position: relative;
	padding: 10px;

	img {
		width: 100%;
		height: auto;
	}

	.specs {
		@include centered;
		z-index: 10;
		width: 100%;
		text-align: center;
		opacity: 0;
		@include all-transition(.3);
		color: #FFF;

		span {
			display: block;
			width: 80%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0 auto;
			font-weight: 300;

			&.filename {
				font-weight: bold;
			}
		}
	}


	.links {
		position: absolute;
		bottom: 10%; left: 0;
		z-index: 10;
		width: 100%;
		text-align: center;
		opacity: 0;
		@include all-transition(.3);
	}

	&:after {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		margin: 10px;
		background-color: rgba(0, 0, 0, .7);
		opacity: 0;
		@include all-transition(.3);
	}

	&:hover {
		.links,
		.specs,
		&:after {
			opacity: 1;
		}
	}

	.icon_container {
		position: relative;
		padding-top: 100%;
		border: 1px $textColor solid;
		background-color: #FFF;

		span {
			@include centered;
			color: $textColor;
			font-size: 50px;
		}
	}

	.checkbox {
		position: absolute;
		top: -15px; right: 0;
		z-index: 10;
		width: 30px;
		height: 30px;
		background: #FFF;

		.checkbox-material {
			top: 5px; left: 5px;
			width: 20px;
			margin: 0 auto;
		}
	}

	&.checked {
		img,
		.icon_container {
			border: 2px $primaryDark solid;
			opacity: .7;
		}
	}
}

.media_thumb_container {
	margin-top: 10px;
	background-color: #f4f4f4;
}

#form-group-fb_image {
	.media_thumb {
		width: 100% !important;
		max-width: 200px;
	}
}


@media #{$mq-xs} {

	.media_thumb {
		.icon_container {
		}
	}

}

@media #{$mq-sm} {

	.media_thumb {
		.icon_container {
		}
	}

}

@media #{$mq-md} {


}

