.pagination {
	& > .active {
		& > a,
		& > span {
			color: $buttonColor;
			background-color: $buttonBackgroundColor;
			border-color: $buttonBackgroundColor;

			&:hover,
			&:focus {
				color: $buttonColor;
				background-color: $buttonHoverBackgroundColor;
				border-color: $buttonHoverBackgroundColor;
			}
		}
	}

	& > li > a,
	& > li > span {
		color: $buttonColor;
		&:hover {
			color: $buttonColor;
		}
	}
}