@media #{$mq-xs} {
	.three-bars-button {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 100;
		margin: 0;
		padding: 0;
		font-size: 0;
		text-indent: -9999px;
		top:4px;
		left:0;
		min-height:40px;
		// @include translateY(-50%);
		@include appearance(none);
		@include box-shadow(none);
		@include border-radius(none);
		border: none;
		cursor: pointer;
		max-width: 50px;
		
		&:focus {
			outline: none;
		}

		&.active {
			&::after {
				opacity: 0;
				transition: opacity 0s;
			}

			span {
				background: none;
			}

			span:before,
			span:after {
				// @include transition-delay(0, .3);
			}

			span:before {
				top: 0;
				@include rotate(45deg);
			}

			span:after {
				bottom: 0;
				@include rotate(-45deg);
			}
		}


		span {
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			display: block;
			width: 60%;
			height: 3px;
			background: #000;
			@include background-transition(0s, ease, .3s);
		}

		span:before,
		span:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #000;
			@include transition-duration(.3s, .3s);
			// @include transition-delay(. 3, 0);
		}

		span:before {
			top: -10px;
			@include transition-property(top, transform);
		}

		span:after {
			bottom: -10px;
			@include transition-property(bottom, transform);
		}
	}
}

@media #{$mq-sm} {
	.three-bars-button {
		float: right;
		margin: 0;
		margin-right: 25px;

		span {
			left: auto;
			right: 0;
			@include no-transform;
		}

		&:after {
			right: -20px;
		}

	}
}