@media #{$mq-xs} {

	footer {
		background-color: transparent;
		font-size: 12px;
		line-height: 25px;

		.credits {
			display: inline-block;
			float: right;
		}
	}

}

@media #{$mq-sm} {

	footer {
		padding-left: 15px;
		padding-right: 15px;

		&.logged-in {
			margin-left: 200px;
			width: calc(100% - 200px);
		}
	}

}

@media #{$mq-md} {

	footer {
		&.logged-in {
			margin-left: 250px;
			width: calc(100% - 250px);
		}

	}

}

