@media #{$mq-xs} {

	.status-bar {
		position: fixed;
		left: 0;
		z-index: 101;
		width: 100%;
		height: 50px;
		padding: 0 15px;
		border-bottom: 1px solid $statusBarBottomBorderColor;
		background-color: $statusBarBackgroundColor;
		@include all-transition(.5, ease-out);

		.app_title {
			position: relative;
			top: -5px;
			font-family: $baskerville;
			text-align: center;

			a {
				display: inline-block;
				width: 100%;
				color: $statusBarColor;
				font-family: $baskerville;
				font-size: 18px;
				font-style: italic;
				font-weight: normal;
				line-height: 56px;

				&:hover,
				em {
					color: $statusBarHoverColor;
					text-decoration: none;
				}
			}
		}

		.logout-container {
			text-align: right;

			.logout {
				color: $statusBarLogoutColor;
				font-size: 22px;
				line-height: 46px;

				&:hover {
					color: $statusBarLogoutHoverColor;
				}
			}
		}
	}

}

@media #{$mq-sm} {

	.status-bar {

		&.logged-in {
			margin-left: 200px;
			width: calc(100% - 200px);
		}

		.app_title {
			a {
				font-size: 20px;
			}
		}

		.logout-container {
			.logout {
				font-size: 14px;
			}
		}
	}

}

@media #{$mq-md} {

	.status-bar {
		&.logged-in {
			width: calc(100% - 250px);
			margin-left: 250px;
		}
	}

}

